	h1
		{
		COLOR: BLACK;
		FONT-size: 25px;
		TEXT-ALIGN: CENTER;
		text-decoration: underline;
		FONT-FAMILY: Goudy Stout;
		};
		.First_Image
		{
		height:400px;
		width:400px;
		}
		.Sec_Image
		{
		height:400px;
		width:400px;
		}
		.Third_Image
		{
		.height:400px;
		width:400px;
		}
		.Fourth_Image
		{
		height:400px;
		width:400px;
		}
	    .Fiveth_Image
		{
		height:400px;
		width:400px;
		}
	   .last_Image
		{
		height:400px;
		width:400px;
		}
	   